.demo {
  width: 600px;
  padding-top: 20px;
  margin: auto;
  display: flex;
  flex-flow: wrap;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  line-height: 50%;
}
.demo1 {
  position: relative;
  width: calc((100% - 30px) / 4);
  margin-bottom: 10px;
}
.demo1:not(:nth-child(4n)){
  margin-right: 10px;
}
.demo1 h4,
.demo1 p {
  position: absolute;
  font-size: 10px;
  width: 100%;
  text-align: center;
}
.demo1 h4 {
  top: -7px;
}
.demo1 p {
  bottom: 0px;
}