.demo {
  /* width: 500px; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 10px;
  column-count: 4;
  column-gap: 20px;
  font-size: 12px;
}
.demo1 {
  display: inline-block;
  background: url('images/npm.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
