a {
  text-decoration: none;
  color: #000;
}
.demo {
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  /* background: url('images/bg.jfif') no-repeat center; */
  /* background-size: contain; */
}

.demo a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 90px) / 4);
  height: 172.05px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom right,#dc143c,#ffff00);
}
.demo a:not(:nth-child(4n)){
  margin-right: 30px;
}
.trans {
  position:absolute;
  top: 56px;
  left: 0;
  width: 172.05px;
  padding: 27px 20px;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  background-image: linear-gradient(to top left,#dc143c,#ffff00);
}
.trans p{
  position: absolute;
  top: 10px;
  color: #fff;
}
.trans h4{
  position: absolute;
  top: -20px;
  color: #fff;
}