a {
  text-decoration: none;
  color: #000;
}
.demo {
  width: 60%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.demo a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 150px) / 4);
  height: 152px;
  margin-bottom: 20px;
  font-size: 10px;
}
.demo a:not(:nth-child(4n)){
  margin-right: 50px;
}
.trans {
  position:absolute;
  top: 56px;
  width: 112.09px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  opacity: 0.6;
}
.trans p{
  position: absolute;
  top: 10px;
  color: #fff;
}
.trans h4{
  position: absolute;
  top: -12px;
  color: #fff;
}
.demo-1 {
  background-image: linear-gradient(to bottom right,#dc143c,#ffff00);
}
.demo-1 .trans{
  background-image: linear-gradient(to top left,#dc143c,#ffff00);
}
.demo-2 {
  background-image: linear-gradient(to bottom right,#ffff00);
}
.demo-2 .trans{
  background-image: linear-gradient(to top left,#ffff00);
}
.demo-3 {
  background-image: linear-gradient(to bottom right,#dc143c,#ffff00);
}
.demo-3 .trans{
  background-image: linear-gradient(to top left,#dc143c,#ffff00);
}
.demo-4 {
  background-image: linear-gradient(to bottom right,#dc143c,#ffff00);
}
.demo-4 .trans{
  background-image: linear-gradient(to top left,#dc143c,#ffff00);
}
.demo-5 {
  background-image: linear-gradient(to bottom right,#dc143c,#ffff00);
}
.demo-5 .trans{
  background-image: linear-gradient(to top left,#dc143c,#ffff00);
}
.demo-6 {
  background-image: linear-gradient(to bottom right,#dc143c,#ffff00);
}
.demo-6 .trans{
  background-image: linear-gradient(to top left,#dc143c,#ffff00);
}